<div class="container">
    <div class="content">
        <img src="/img/helpNeeded.png" style="height: 300px; width: 300px;">
        <br>
        <a href="/helpNeeded_doc/curate?km=1">근처에 큐레이팅을 희망하는 환자 찾기</a>
    </div>
</div>