<div class="content">
    <a href="/admin/doctorVerification">의사 인증 메뉴</a>
    <br>
    <a href="/admin/posts">포스트 삭제 메뉴</a>
    <br>
    <a href="/admin/psyList">병원 등록 메뉴</a>
    <br>
    <a href="/admin/premiumifyPsy">병원 프리미엄화</a>
    <br>
    <a href="/admin/registerDoctorToPsy">병원에 의사 등록하기</a>
</div>