/backend/node_modules/
/backend/.env
/backend/ca_bundle.crt
/backend/certificate.crt
/backend/private.key
/backend/todoctodoc-firebase-adminsdk.json
/backend/todoctodoc-googlecloud-storagekey.json
/auxliary/
/upload-keystore.jks
/frontend/android/app/key.jks
/frontend/android/app/key.properties
/Frontend/android/app/key.jks
/Frontend/android/app/key.properties
/frontend_doctor/android/app/key.jks
/frontend_doctor/android/app/key.properties
./firebaseAppId.txt
/Frontend/asset/data/
/frontend/asset/data/
# Miscellaneous
/frontend/*.class
/frontend/*.log
/frontend/*.pyc
/frontend/*.swp
/frontend/.DS_Store
/frontend/.atom/
/frontend/.build/
/frontend/.buildlog/
/frontend/.history
/frontend/.svn/
/frontend/.swiftpm/
/frontend/migrate_working_dir/
/frontend/build/


/frontend_doctor/*.class
/frontend_doctor/*.log
/frontend_doctor/*.pyc
/frontend_doctor/*.swp
/frontend_doctor/.DS_Store
/frontend_doctor/.build/
/frontend_doctor/build/
/frontend_doctor/.buildlog/
/frontend_doctor/.history
/frontend_doctor/.svn/
/frontend_doctor/.swiftpm/
/frontend_doctor/migrate_working_dir/
# IntelliJ related
/frontend/*.iml
/frontend/*.ipr
/frontend/*.iws
/frontend/.idea/

/frontend_doctor/*.iml
/frontend_doctor/*.ipr
/frontend_doctor/*.iws
/frontend_doctor/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
/frontend/**/doc/api/
/frontend/**/ios/Flutter/.last_build_id
/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.pub-cache/
/frontend/.pub/
/frontend/build/

/frontend_doctor/**/doc/api/
/frontend_doctor/**/ios/Flutter/.last_build_id
/frontend_doctor/.dart_tool/
/frontend_doctor/.flutter-plugins
/frontend_doctor/.flutter-plugins-dependencies
/frontend_doctor/.pub-cache/
/frontend_doctor/.pub/
/frontend_doctor/build/

# 혹시 모르니까 한 번 더더

# Symbolication related
/frontend/app.*.symbols
/frontend_doctor/app.*.symbols

# Obfuscation related
/frontend/app.*.map.json
/frontend_doctor/app.*.map.json

# Android Studio will place build artifacts here
/frontend/android/app/debug
/frontend/android/app/profile
/frontend/android/app/release

/frontend_doctor/android/app/release
/frontend_doctor/app/profile
/frontend_doctor/app/debug

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
/Frontend/*.class
/Frontend/*.log
/Frontend/*.pyc
/Frontend/*.swp
/Frontend/.DS_Store
/Frontend/.atom/
/Frontend/.build/
/Frontend/.buildlog/
/Frontend/.history
/Frontend/.svn/
/Frontend/.swiftpm/
/Frontend/migrate_working_dir/

# IntelliJ related
/Frontend/*.iml
/Frontend/*.ipr
/Frontend/*.iws
/Frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
/Frontend/**/doc/api/
/Frontend/**/ios/Flutter/.last_build_id
/Frontend/.dart_tool/
/Frontend/.flutter-plugins
/Frontend/.flutter-plugins-dependencies
/Frontend/.pub-cache/
/Frontend/.pub/
/Frontend/build/



# 혹시 모르니까 한 번 더더

# Symbolication related
/Frontend/app.*.symbols

# Obfuscation related
/Frontend/app.*.map.json

# Android Studio will place build artifacts here
/Frontend/android/app/debug
/Frontend/android/app/profile
/Frontend/android/app/release
/Frontend/android/app/key.properties
/Frontend/android/key.properties
/frontend/android/app/key.properties
/frontend/android/key.properties