<div class="content">
    <h3>Mentally에 대하여</h3>
    걱정하지 마세요. 당신의 마음을 속 편히 털어놓을 상대가 있다는 것 만으로도 당신에게 큰 위안이 될 것입니다.
    <br>
    100% 익명이 보장되며, 당신의 고민과 그에 대한 답변은 당신이 GraphBoard를 통한 공유를 원하지 않는 이상 페이지에서 나가는 즉시 삭제됩니다.
    <br>
    <h4>GraphBoard란?</h4>
    훗날 여러분과 같은 고민으로 혼자서 앓고 있는 사람을 위해, 당신이 걱정을 이겨낸 방법을 공유할 수 있는 그래프 기반 익명 SNS입니다. 
</div>