<div class="container">
    <div class="content">
        <h3>무료 계정 제한</h3>
        일일 고민 해결은 5회, AI와의 고민 상담은 일일 10회의 전송으로 제한됩니다..
        <br>
        제한은 매일 한국 시각 00:00에 초기화 됩니다.
        <br>
        마음이 아파요! 시스템은 거리 순으로만 제공됩니다.
        <br>
        <h4>토닥토닥 Care+로 업그레이드 하세요!</h4>
        무제한 고민 해결과 AI와의 고민 상담, 주치의 큐레이팅 시스템을 만나보세요.
    </div>
</div>